<!DOCTYPE html>
<html>

<head>
    <title> Edit  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/flower-icon.png"/>
    <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">   
		
    <form action="<%= supplier.id %>" method="POST" class="item-centered-container">
        <fieldset class="fieldset">
            <div class="label-input">
                <label for="name"> Name </label>
                <input type="text" name="name" id="name" value="<%= supplier.name %>">
            </div>
            <div class="label-input">
                <label for="country"> Country </label>
                <input type="text" name="country" id="country" value="<%= supplier.country %>">
            </div>
            <div class="label-input">
                <label for="county"> County </label>
                <input type="text" name="county" id="county" value="<%= supplier.county %>">
            </div>
            <div class="label-input">
                <label for="email"> E-mail </label>
                <input type="email" name="email" id="email" value="<%= supplier.email %>">
            </div>
            <div class="label-input">
                <label for="years"> Supplier since </label>
                <input type="text" name="years" id="years" value="<%= supplier.suppliersince %>">
            </div>
            <hr>
            <div class="submitButtons">
                <input type="submit" class="btn" value="Submit">
                <input type="reset" class="btn" value="Reset">
            </div>
        </fieldset>
    </form>

</main>

<%- include(`partials/footer`); %>

</body>

</html>